/* --- TABLE DES STYLES --- */
/*                          */
/* CONTENUS GENERIQUES      */
/*                          */
/* HEADER                   */
/* NAVBAR                   */
/* MAIN                     */
/* ARTICLES                 */
/* FOOTER                   */
/*                          */
/* ------------------------ */

/* CONTENUS GENERIQUES      */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

/* HEADER                   */
header{
    background-color: #061622;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1{
    color: #FFFFFF;
    font-size: 55px;
    width: 1150px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

/* NAVBAR                   */
nav ul{
    max-width: 1150px;
    margin: auto;
    display: block;
    justify-content: center;
    padding-left: 0;
    font-size: 0;
}

nav ul li{
    display: inline-block;
    width: 25%;
    text-align: center;
    max-width: 1150px;
    font-size: 1rem;
}

nav a img{
    width: 100px;
    height: 100px;
}

nav li a{
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
}

nav li:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav li:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav li a:hover{
    color: #B318FF;
}

nav li:nth-of-type(1){
    background-color: #0E1F56;
}

nav li:nth-of-type(2){
    background-color: #E52D27;
}

nav li:nth-of-type(3){
    background-color: #55ACEE;
}

nav li:nth-of-type(4){
    background-color: #C13584;
}

/* MAIN                     */
main{
    position: relative;
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 10px #F6F6F6;
}

h2{
    font-size: 35px;
    position: relative;
    text-align: center;
    margin: 80px auto 40px auto;
    max-width: 1150px;
}

h2:before, h2:after{
    content: "";
    width: 5px;
    background-color: #0E1F56;
    position: absolute;
    top: 0;
    bottom: 0;
}

h2:before{
    left: -30px;
}

h2::after{
    right: -30px;
}

main .intro{
    margin-top: 20px;
}

main div, main p{
    max-width: 1150px;
    margin: auto;
}

main img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    object-fit: cover;
}

h3{
    font-size: 25px;
    margin-bottom: 25px;
}

/* ARTICLES                 */
article div{
    border-left: solid 3px black;
}

article p{
    margin-top: 20px;
    padding-left: 40px;
}

main article:nth-of-type(1) .reseau{
    color: #0E1F56;
}

main article:nth-of-type(2) .reseau{
    color: #E52D27;
}

main article:nth-of-type(3) .reseau{
    color: #55ACEE;
}

main article:nth-of-type(4) .reseau{
    color: #C13584;
}

.reseau{
    font-weight: bolder;
}

a{
    color: #3C93F7;
    text-decoration: none;
}

article a{
    color: #0E1F56;
}

article p:last-of-type a{
    font-weight: bolder;
}

article, .autresArticles{
    max-width: 1150px;
    margin: auto;
}

a:hover{
    text-decoration: underline;
}
/* FOOTER                   */
footer{
    width: 100%;
    background-color: #061622;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

footer p, footer a{
    color: #FFFFFF;
}





